body{
    background-color: white;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
  
   
}
h2{
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 10px;
}
ul{
    display: flex;
    margin-top: 23px;
   margin-left: 140px;
}
li{
    margin-right: 51px;
    list-style: none;
}
.Contact,.Faisons,.menu,.Services,.Projets ,.Nos-références,.Nos-Client{
    text-decoration: none;
    color: black;
}
.Contact:hover,.Faisons:hover,.menu:hover,.Services:hover,.Projets:hover,.Nos-références:hover,.Nos-Client:hover{
    
    color: black;
}
.link{
    display: flex;
}
.login,.Register{
    margin-right: 10px;
    width: 70px;
    height: 25px;
    border-radius: 10px;
    padding-top: 1px;
    padding-left: 8px;
    margin-top: 5px;

}
.Register{
background-color: #82CE2F;
}
.Link-register{
    text-decoration: none;
    color:white;
}
.Link-register:hover{
    
    color: white;
}
.Link-login{
    text-decoration: none;
    color: black;
}
.Link-login:hover{
    
    color: black;
}
.Link-login{
    margin-left: 6px;
}
img{
    width: 100px;
    height: 40px;
}
.part1{
    margin-top: -297px;
    
}
.logo-part1{
    margin-top: 120px;
    text-align: center;
}
.logo-part1 img{
    width: 850px;
    height: 380px;
}
#text-part1{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;

}
.button-1{
    width: 203px;
    height: 35px;
    border-radius: 7px;
    background-color: #82CE2F;
    margin-left: 675px;
    padding-top: 3px;
    margin-top: 50px;
    transition: 0.7s ease;
    cursor: pointer;
}
.button-1:hover{
    background-color: #57901a;
    transform: scale(1.11);
}
.view-more{
    text-decoration: none;
    color:white;
    margin-left: 56px;
    font-size: 1.3em;
    font-weight: 700;
}
.view-more:hover{
    color: white;
}
.P-2{
    margin-top: 120px;
    display: flex;
}
.titre-desc{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 100px;
    margin-left: 220px;
    font-size: 3em;
    font-weight: 800;
    color:#82CE2F
}
.nav-link{
    font-family: 'Roboto Condensed', sans-serif;

}
.desc{
    padding-top: 20px;
    width: 763px;
    height: 301px;
    margin-left: 196px;
}
.text-desc{
    font-size: 1.3em;
     font-family: 'Roboto Condensed', sans-serif;
}
.P-3-titre{
    margin-top: -172px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    color: #82CE2F;
}
.main{
    overflow-x: scroll;
    white-space: nowrap;
    overflow: hidden;
}
.card2-serv-wrapper {
    display: inline-block;
  }
  
  .card2-serv {
    display: inline-block;
    margin-right: 10px;
  }
  
  .card2-serv:last-child {
    margin-right: 0;
  }
.card1-comp{
    width: 300px;
    height: 300px;
    border-radius: 13px;
    padding-left: 23px;
    box-shadow: 0 0 10px 5px rgb(55 74 97 / 10%);
    margin: 30px;
    background-color: white;

}
.img-comp{
    width: 250px;
    height: 190px;
    
}
.img-comp img{
    width: 250px;
    height: 190px;
    border-radius: 30px;
    margin-top: 10px;
}
.des-comp{
    width: 250px;
    height: 90px;
  
    margin-top: 30px;
}
.comp-text{
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
}
.titre-P-4{
    margin-top: 10px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    color: #82CE2F;
    font-size: 3em;
    font-weight: 800;
}
.text-ser{
    margin-left: 50px;
    font-size: 1.2em;
    margin-top: 20px;
    margin-right: 20px;
}
.card2-serv{
    width: 300px;
    height: 310px;
    border-radius: 13px;
    padding-left: 23px;
    box-shadow: 0 0 10px 5px rgb(55 74 97 / 10%);
    margin: 30px;
    padding-bottom: 10px;
    transition: 0.7s ease;
    cursor: pointer;
}
.card2-serv:hover{
    transform: scale(1.11);
}
.img-serv{
    width: 250px;
    height: 190px;
    
}
.img-serv img{
    width: 250px;
    height: 190px;
    border-radius: 8px;
    margin-top: 10px;
}
.des-serv{
    width: 250px;
    height: 90px;
  
    margin-top: 30px;
}
.serv-text{
    text-align: center;
    font-size: 1.3em;
  
    font-family: 'Roboto Condensed', sans-serif;
}
i{
    color:#82CE2F;
    margin-left:250px; 
    font-size: 1.3em;
    
}
.P-5{
    padding-top: 30px;
    margin-top: 20px;
    width: 100%;
    height: 400px;
    background-color: #eef3ef;
    margin-bottom: 70px;
}
.titre-P-5{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
     font-weight: 700;
     
   
}
.button-2{
    width: 203px;
    height: 35px;
    border-radius: 7px;
    background-color: white;
    margin-left: 675px;
    padding-top: 3px;
    margin-top: 50px;
    transition: 0.7s ease;
    cursor: pointer;
}
.button-2:hover{
    background-color: rgb(220, 220, 220);
    transform: scale(1.11);
}
.contact-us{
    text-decoration: none;
    color:#82CE2F;
    margin-left: 35px;
    font-size: 1.3em;
    font-weight: 700;
}
.contact-us:hover{
    color:#57901a;
}
#icone{
    color: #82CE2F;
    margin-left: 730px;
    font-size: 6.3em;
    margin-bottom: 20px;
}
.P-6{
    padding-top: 37px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #eef3ef;
    padding-bottom: 30px;
    height: 700px;
}
.mini-titre-P-6{
    text-align: center;
    color: rgb(181, 181, 181);
    font-family: 'Roboto Condensed', sans-serif;
}
.titre-P-6{
    text-align: center; 
    font-family: 'Roboto Condensed', sans-serif;
}
.notif{
   margin-top: 30px;
   display: flex;
   justify-content: space-around;
   
}

.content{
    width: 460px;
    height: 300px;
    padding-left: 27px;
    padding-right: 1px;
}

.iconAv{
    text-align: center;
}
.iconAv i{
    margin-left: 7px;
    margin-top: 55px;
    font-size: 4em;
    color: #82CE2F;
}
.iconAv img{
    margin-left: 7px;
    margin-top: 55px;
    width: 150px;
    color: orange;
    height: 150px;
}
.decrir{
    color:#2fd48a;
    font-size: 3em;
    font-weight: 1000;
    text-align: center;
}
.not1{
      width: 460px;
      height: 470px;
      border-radius: 7px;
      box-shadow: 0 0 10px 5px rgb(55 74 97 / 10%);
      background-color: white;

}
.not2{
   width: 460px;
   height: 511px;
   box-shadow: 0 0 10px 5px rgb(55 74 97 / 10%);
   border-radius: 7px;
   background-color: white;
}

.not4{
    width: 460px;
    height: 470px;
    box-shadow: 0 0 10px 5px rgb(55 74 97 / 10%);
    border-radius: 7px;
    background-color: white;

}
.titre-not1 ,.titre-not2 ,.titre-not3{
   text-align: center;
   font-family: 'Roboto Condensed', sans-serif;
   color: #172433;
   font-size: 1.8em;
   font-weight: 1000;
}
.text-not{
    
    margin-top: 15px;
    font-size: 1.2em;
}
span{
    color: #82CE2F;
}
.P-7{
    padding-top: 10px;
    margin-top: 20px;
    width: 100%;
    height: 400px;
    background-color:rgb(79, 79, 79);
    display: flex;
    bottom: 0;

}
.sec1,.sec3{
    width: 480px;
    height: 380px;
}
.sec1,.sec2{
    border-right: 0.2px solid rgb(70, 70, 70);
}
.sec2{
    width: 540px;
    height: 380px;
}
.sec-titre{
    font-family: 'Roboto Condensed', sans-serif;

    text-align: center;
    color: white;
    font-size: 2em;
    font-weight: 800;
}
.text-footer{
    color: white;
    margin-left:-190px;
    font-size: 1.3em;

}
.desc-footer{
    margin-top: 70px;
    width: 300px;height: 300px;
}
.mail{
    text-decoration: none;
    color: white;
}
.lien{
  display: flex;
  width: 100%;
  margin-left: 11px;
  margin-top: 100px;
}
#fb,#insta,#linkd{
    margin-left: 108px;
    font-size: 2.3em;
}
.reb-lien{
    text-decoration: none;
    color: white;
}
.lien-reb{
margin-left: 181px;
margin-top: 70px;
font-size: 1.3em;
}
/**popup**/
.card {
    width: 1231px;
    height: 482px;
    box-shadow: 0 0 10px 5px rgb(55 74 97 / 10%);
    margin-left: 750px;
    transform: translate(-50%,-50%);
    transition: all .5s;
    opacity: 0;
    top: -100%;
    border-radius: 10px;
    background-color: rgb(248, 248, 248);
}
.card.open{
    opacity: 1;
    top: 50%;
  }
.hed{
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 1220px;
    border-bottom: 1px solid rgb(179, 178, 178);
    align-items: center;
}
.text{

    height: 370px;
    width: 1220px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 1px;
}
.text-pop{
    margin-top: 80px;
}
.titre-comp-h4{
    margin-left: 10px;
    color:#82CE2F;
    font-family: 'Roboto Condensed', sans-serif;
}
.P-1-1{

       /* width: 80%;*/
        margin: auto;
        height: 100%;
        /*margin-left: 185px;*/
    
}
.diapo{
    position: relative;
    overflow: hidden;
}

#nav-droite, #nav-gauche{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 3em;
}

#nav-droite{
    right: 20px;
    bottom: 130px;
   
}
#nav-gauche{
    left: -230px;
    bottom: 130px;
   
}

.elements{
    display: flex;
    transition: 1s linear;
}

.element{
    flex: 1 0 100%;
    position: relative;
}

.element > .img{
    width: 100%;
    height: 80%;
   
}

.caption{
    position: absolute;
    top: 38%;
    left: 36%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    width: 57%;
    background-color: rgba(179, 177, 177, 0.8);
}
.h-diapo{
    font-family: 'Roboto Condensed', sans-serif;
    color: aliceblue;
    font-size: 4em;
    font-weight: 800;
 
}
.p-diapo{
    font-family: 'Roboto Condensed', sans-serif;
    color: aliceblue;
     font-size: 1.2em;

   
}

.statistique {
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 181px;
   
 
}
.P-1{
    margin-top: -236px;
    background-color: #eef3ef;
    height: 300px;
    padding-top: 36px;
    padding-bottom: 20px;
}
.nb-client ,.chiffre,.annee-ex{
    font-family: 'Roboto Condensed', sans-serif;
    width: 300px;
    height: 170px;
    
}
.nb-client p ,.chiffre p,.annee-ex p{
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
/*secteur*/
.main-sect{
    width: 100%;
    height: 500px;
    border: 1px solid gray;
}
.sect1{
    width: 50%;
    height: 50%; 
    border: 1px solid gray;
   margin: 100px;
   margin-left: 409px;
 
}
.sic1{
    width: 50%;
    height: 30%;
    border: 1px solid gray;
}
.secc{
    width: 100%;
    height: 100%;
    display: flex;
}
.scroll-left ,.scroll-right{
  border: none;
  background-color: white;
  padding: 0px 80px 0px 20px;
  
}
.bottnn{
    margin-left: 310px;
}
/*project*/
.project{
    width: 100%;
    height: 100%;
}
.titre-project{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    color: #82CE2F;
    font-size: 3em;
    font-weight: 800;
}
.containere {
  height: 80vh;
  width: 90%;
  margin-top: 37px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.slide {
  position: relative;

  flex-grow: 1;

  width: 5%;
  padding: 20px;
  border-radius: 20px;

  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  cursor: pointer;

  transition: flex-grow ease-in-out 0.35s;
}

.slide:not(:last-child) {
  margin-right: 20px;
}

.slide.active {
  flex-grow: 30;

  cursor:auto;
}

.title {
  position: absolute;
  left: 20px;
  bottom: 20px;

  color: transparent;
  transition: color 0.2s ease 0.2s;
}

.slide.active .title {
  color: #ffffff;
}

.title h3 {
  margin: 0;
  padding: 0;

  font-size: 1.6em;
  font-weight: normal;
}

.title small {
  font-size: 1.1em;
}
.titre-statis{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    color: #82CE2F;
    font-size: 3em;
    font-weight: 800;
}
.detail{
    text-decoration: none;
    color: #82CE2F;
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: 100px;
    font-size: 1.2em;
}
.detail:hover{
    
    color: #476c20;
   
}
.boton{
    width: 70px;
    height: 30px;
    border: 1px solid white;
    border-radius: 7px;
    margin-top: 9px;
}
.boton-link{
    text-decoration: none;
    color: white;
    margin-left: 5px;
    font-family: 'Roboto Condensed', sans-serif;

}
.boton-link:hover{
 color: white;
}
/*nos client */
.nosclient {
    margin-top: 40px;
    width: 100%;
    height: 100%;
}

.titre-nosclient {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    color: #82CE2F;
    font-size: 3em;
    font-weight: 800;
}

.man {
    display: flex;
    width: 100%;
    height: 50%;
    overflow-x: scroll;
}

.car {
    width: 400px;
    height: 200px;

    flex-shrink: 0;
}

.swiper {
  width: 400px;
  height: 400px;
  border-radius: 10px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
  
.car img{
    width: 100%;
    height: 100%;
    border-radius: 10px;

}
 .text-client{
    width: 700px;
    height: 400px;
 
    margin-left: 150px;
 } 
 .mainn{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
 }
.desc-client{
    margin-top: 78px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em;

}
.titre-client{
    font-family: 'Roboto Condensed', sans-serif;
    color: #82CE2F;
    font-weight: 800;
    margin-left: 30px;
}