.AF{
    margin-left: 300px;
    margin-top: 90px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}
.card-act{
    margin: 10px;
    width: 399px;
    height: 531px;
    box-shadow: 0 0 10px 5px rgb(55 74 97 / 10%);
    border-radius: 10px 10px 10px 10px;
}

.picture{
    width: 400px;
    height: 350px;
}
.picture img{
    width: 400px;
    height: 350px;
    border-radius: 10px 10px 0px 0px;
   
}


.btn-mp{
    width: 400px;
    height: 62px;
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    border-radius: 0px 0px 10px 10px;
}
.caption{ 
   width: 400px;
   height: 120px;
   border-bottom: 1px solid  rgb(241 236 236);
  

}
.p-diapo{
    color:black;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    margin-left: 100px;
    font-size: 1.2em;
    margin-top: -16px;
 
}
.titre-diapo{
    color:#82cf2c; 
    margin-top:5px ;
    font-family: 'Roboto Condensed', sans-serif;
      font-weight: 600;
      margin-left: 24px;
      font-size: 1.5em;
}
.detail{
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    color: rgb(199, 199, 199);
    font-size: 1.5em;
    margin-left: 162px;

}
.detail:hover{
   color: orange;
}
.ope{
    text-decoration: none;
}
.ope:hover{
    color: azure;
}

i{
    font-size: 2em;
    font-weight: 400;
}